.grid {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(12, 1fr);
}

.subGrid {
  display: grid;
  grid-template-columns: subgrid;

  grid-column: span 12;
}

.resourceLabels {
  grid-column: span 1;
}

.mainBody {
  grid-column: span 11;
}

.fullRow {
  grid-column: span 12;
}
